* { margin: 0; padding: 0; }

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  padding: 0;
  background: #ccc;
  min-height: 100%;
}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

footer {
  background-color: #444;
  min-height: 5rem;
  padding: 1rem 1rem 1rem 1rem;
  color: #fff;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}

h1 {
  border-bottom: 3px solid #444;
  margin: .5rem 0;
}

.board {
  display: grid;
  height: 30vw;
  width: 30vw;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem auto;
  border: 2px solid #444;
}

.square {
  border: 2px solid #444;
  box-sizing: border-box;
  font-size: 7vw;
  height: 10vw;
}

.X {
  color: rgb(233, 75, 75);
}

.O {
  color: rgb(60, 209, 60);
}

.sideToggle {
  font-size: large;
  margin: 2px auto;
  background-color: #dae7ee;
  border: none;
  padding: 3px;
  display: block;
}

.resetBtn {
  font-size: large;
  margin: 2px auto;
  display: block;
}